<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icandothisallday2020.ex74bluetooth">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
<!--    서버작업:BLUETOOTH_ADMIN 클라이언트:BLUETOOTH-->
<!--    ver.Marshmallow~ 주변장치 탐색시 Location 퍼미션 필요-->
<!--    서버작업:필요X       클라이언트:접속을 위해 주변장치를 찾을 때 필요-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
<!--        ver.Oreo~ 서버의 동작을 위해 http 통신을 허용 해야함-->

        <activity android:name=".ClientActivity"></activity>
<!--        액티비티를 다이얼로그처럼 보이게-->
        <activity android:name=".BTListActivity" android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity android:name=".ServerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>